<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Bootstrap, Parallax, Template, Registration, Landing">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap CSS -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/multi-select.css" rel="stylesheet" />
    <link href="~/Content/multi-select.dev.css" rel="stylesheet" />
    <link href="~/Content/multi-select.dist.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/line-icons.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <link href="~/Content/nivo-lightbox.css" rel="stylesheet" />
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/slicknav.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/loaderCss.css" rel="stylesheet" />




    <title>Sigorta Istatistikleri</title>
</head>
<body>


    <!-- Tanıtım Section Start -->
    <header id="hero-area" data-stellar-background-ratio="0.5">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="@Url.Action("Index","Home")" class="navbar-brand" style="color: #61d2b4">Logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="lnr lnr-menu"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#hero-area">ANA SAYFA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#features">NASIL KULLANILIR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#services">HESAPLA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#">SÖZLÜK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#">FAYDALI LİNKLER</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#contact">İLETİŞİM</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Mobile Menu Start -->
            <ul class="mobile-menu">
                <li>
                    <a class="page-scroll" href="#hero-area">TANITIM</a>
                </li>
                <li>
                    <a class="page-scroll" href="#features">NASIL KULLANIRIM</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">HESAPLA</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">SÖZLÜK</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">FAYDALI LİNKLER</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">İLETİŞİM</a>
                </li>
                
            </ul>
            <!-- Mobile Menu End -->

        </nav>
        <!-- Navbar End -->
        <div class="container-fluid">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="contents text-center">
                        <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">SİGORTA İSTATİSTİKLERİ</h1>
                        <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Sigorta Sektöründe Karşılaştırılabilir Bilgiye Ulaşmak İsteyenler İçin Hazırlanmıştır. </p>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Tanıtım Section End -->




    @RenderBody()

   
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top">
        <i class="lnr lnr-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>




    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="~/Scripts/jquery-min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.mixitup.js"></script>
    <script src="~/Scripts/jquery.quicksearch.js"></script>
    <script src="~/Scripts/nivo-lightbox.js"></script>
    <script src="~/Scripts/owl.carousel.js"></script>
    <script src="~/Scripts/jquery.nav.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/scrolling-nav.js"></script>
    <script src="~/Scripts/jquery.easing.min.js"></script>
    <script src="~/Scripts/smoothscroll.js"></script>
    <script src="~/Scripts/jquery.slicknav.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/jquery.vide.js"></script>
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/waypoints.min.js"></script>
    <script src="~/Scripts/form-validator.min.js"></script>
    <script src="~/Scripts/contact-form-script.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.tr.js"></script>
    <script src="~/Scripts/jquery.multi-select.js"></script>
    <script src="~/Scripts/Fill.js"></script>

    
</body>
</html>
