<div class="form-group m-form__group ">
    <div class="form-group m-form__group">

        <label>
            Tarih
            <small style="color:red">En fazla 5 tarih seçilebilir.</small>
            <small style="color:red">AA-YYYY olarak virgülle ayırmak şartıyla giriş yapılabilir.</small>
        </label>

        <br />
        
                <div class="hero-unit">
                    <input type="text" class="form-control" id="pickyDate" />
                </div>

    </div>
</div>

