@model MvcHtmlString
@{
    ViewBag.Title = "GetTable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    @Model
</div>

@section scripts
{
    <script type="text/javascript">
      

    </script>
    <script src="~/Scripts/AdminJs/TableCrud.js"></script>
}

