
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    @section head
    {
        <link href="~/Content/AdminCss/bootstrap-select.min.css" rel="stylesheet" />
    }
</head>
<body>
@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet }
    )
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.Editors },
    new Script { ExtensionSuite = ExtensionSuite.Spreadsheet }
    )


<div class="container" style="margin-top:4%">
    <div class="notification">
    </div>
    
<div class="row">
    
    <div class="span12">
        <div>
            <div>
                <div class="col-lg-12">
                    <a href="#createCompanyType" class="btn-box big span3" data-toggle="modal">
                        <i class="fa fa-building"></i><br/>
                        <p class="text-muted">
                            Yeni Şirket Tipi
                        </p>
                    </a>

                    <div class="modal fade" id="createCompanyType" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Şirket Tipi Ekle</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <input type="text" placeholder="Şirket Tipi Giriniz" id="companyTypeName" class="form-control"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="saveCompanyType">Kaydet</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#createCompany" id="btnCreateCompany" class="btn-box big span3" data-toggle="modal">
                        <i class="fa fa-home"></i><br/>
                        <p class="text-muted">
                            Yeni Şirket
                        </p>
                    </a>

                    <div class="modal fade" id="createCompany" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Şirket Ekle</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body" id="companyNameBody">
                                    <input type="text" placeholder="Şirket Giriniz" id="companyName" class="form-control"/>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" id="saveCompany">Kaydet</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <a href="#createBranchGroup" class="btn-box big span3" data-toggle="modal">
                    <i class="fa fa-object-group"></i><br/>
                    <p class="text-muted">
                        Yeni Branş Grubu
                    </p>
                </a>

                <div class="modal fade" id="createBranchGroup" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Ana Branş Ekle</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <input type="text" placeholder="Ana Branş Giriniz" id="branchGroupName" class="form-control"/>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="saveBranchGroup">Kaydet</button>
                            </div>
                        </div>

                    </div>
                </div>

                <a href="#createBranch" class="btn-box big span3" id="btnCreateBranch" data-toggle="modal">
                    <i class="fa fa-object-ungroup"></i><br/>
                    <p class="text-muted">
                        Yeni Branş
                    </p>
                </a>

                <div class="modal fade" id="createBranch" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Branş Ekle</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body" id="branchNameBody">
                                <input type="text" placeholder="Branş Giriniz" id="branchName" class="form-control"/>
                                <input type="text" placeholder="Branş Kodu Giriniz" id="branchCode" class="form-control"/>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" id="saveBranch">Kaydet</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <!--/#btn-controls-->

    </div>
    <!--/.content-->
</div>
    <!--/.span9-->



    <div class="row">
        <div class="span12">
            <div class="">
                <div class="">
                    <div class="col-lg-12">
                        <a href="#createAccount" class="btn-box big span3" data-toggle="modal">
                            <i class="fa fa-align-justify"></i><br />
                            <p class="text-muted">
                                Yeni Hesap Türü
                            </p>
                        </a>

                        <div class="modal fade" id="createAccount" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Hesap Ekle</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" placeholder="Hesap Türü Giriniz" id="accountName" class="form-control" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveAccount">Kaydet</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a href="#createCalculate" class="btn-box big span3" data-toggle="modal">
                            <i class="fa fa-calculator"></i><br />
                            <p class="text-muted">
                                Yeni Hesaplama
                            </p>
                        </a>

                        <div class="modal fade" id="createCalculate" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Hesaplama Ekle</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" placeholder="Hesaplama Türü Giriniz" id="calcName" class="form-control" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveCalc">Kaydet</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a href="#CreateAccountCalcRelation" class="btn-box big span3" id="btnCreateAccountCalcRelation" data-toggle="modal">
                            <i class="fa fa-asterisk"></i><br />
                            <p class="text-muted">
                                Yeni Hesaplama İlişkisi
                            </p>
                        </a>

                        <div class="modal fade" id="CreateAccountCalcRelation" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">İlişki Ekle</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body" id="calcAccountRelationBody">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveAccountCalcRelation">Kaydet</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a href="#createData" class="btn-box big span3" data-toggle="modal">
                            <i class="fa fa-at"></i><br />
                            <p class="text-muted">
                                Yeni Veri
                            </p>
                        </a>

                        <div class="modal fade" id="createData" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Veri Ekle</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group m-form__group">

                                            <input type="button" value="Dosya Seç" id="btnUploadData" class="btn btn-primary" />
                                            <br />
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="myprogress">0 %</div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="modal-footer">
                                        @Html.ActionLink("Taslak indir", "DownloadEmptyFile", "Admin", new { @target = "_blank", @class = "btn btn-info" })
                                        @using (Html.BeginForm("CreateData", "Admin", FormMethod.Post))
                                        {
                                            <div style="display: none">
                                                @Html.Partial("_SpreadsheetPartial")
                                            </div>
                                            <button type="submit" class="btn btn-success" id="btnSaveData">Dönüştür ve Kaydet</button>
                                        }
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="saveData">Kapat</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <!--/#btn-controls-->

            </div>
            <!--/.content-->
        </div>
        <!--/.span9-->
    </div>

</div>
<input type="file" name="file" id="uploadData" value="Yeni Dosya" style="display:none" />

<!--/.container-->


    @section scripts
    {
        <script src="~/Scripts/AdminJs/AddItem.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
    }

</body>
</html>